/build/
/bin/
/out/
/.cache/
/x64/
/Win32/
*.exe
*.dll
*.lib
*.pdb
*.so
*.a
*.app

.vs/
*.user
*.sln
*.vcxproj
*.filters
*.dir/
*.ipch/

.idea/
cmake-build-*/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

gameEngine/libs/**/build/
gameEngine/libs/**/bin/
gameEngine/libs/**/obj/

/assets/baked/*.bin
/assets/baked/*.dds
/assets/baked/*.gltf_binary
*.log
*.tmp

*.db
*.sqlite
!/assets/templates/*.db  # Keep a template/empty DB for new devs


/scripts/venv/
__pycache__/
*.pyc
.env

/docs/