[submodule "libs/rtxgi"]
	path = libs/rtxgi
	url = https://github.com/NVIDIA-RTX/RTXGI
[submodule "libs/msquic"]
	path = libs/msquic
	url = https://github.com/microsoft/msquic
[submodule "libs/flecs"]
	path = libs/flecs
	url = https://github.com/SanderMertens/flecs
[submodule "libs/jolt-physics"]
	path = libs/jolt-physics
	url = https://github.com/jrouwe/JoltPhysics
[submodule "libs/bgfx-cmake"]
	path = libs/bgfx-cmake
	url = https://github.com/bkaradzic/bgfx.cmake
