[submodule "libs/jolt"]
	path = libs/jolt
	url = https://github.com/a16z/jolt
[submodule "libs/bgfx"]
	path = libs/bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "libs/bx"]
	path = libs/bx
	url = https://github.com/bkaradzic/bx
[submodule "libs/bimg"]
	path = libs/bimg
	url = https://github.com/bkaradzic/bimg
[submodule "libs/rtxgi"]
	path = libs/rtxgi
	url = https://github.com/NVIDIA-RTX/RTXGI
[submodule "libs/msquic"]
	path = libs/msquic
	url = https://github.com/microsoft/msquic
[submodule "libs/flecs"]
	path = libs/flecs
	url = https://github.com/SanderMertens/flecs
